body{
    height: 100%;
}
html {
   margin: 0;
   padding: 0;
   margin-left: 20px;
   margin-right: 20px;
   font-style: normal;
   font-family: sans-serif;
}
header{
    width: 100%;
    border-bottom: 5px solid red;
}

.logo-header{
    width: 100px;
    height: 100px;
    float: lef;
 }

 
 footer{ 
    padding-top:15px ;
    bottom: 0;
    text-align: center;
}
.logo-acteur1, .logo-acteur2, .logo-acteur3, .logo-acteur4{   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 150px;

}
#commentaires{
  border:2px solid red;
  padding: 5px;
}
#commentaires h3{
  text-align: left;
}

.les-commentaire{
  border: 3px solid red;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px; 
  
  
}
.champs{
  height:auto;
  width:auto;
}
