body{
  width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(grey, white);
   font-family: Arial, Helvetica, sans-serif;


  }
  html {
   margin: 0;
   padding: 0;
   border: 20px;
   margin-right:10px;
   margin-left: 10px;
  }
  /* page connexion.php et enregistrement.php*/
  .logo-gbaf{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .titre-connexion {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .formulaire{
    color: white;
    background-color: #CC1B1B;
    text-align: center;
    padding: 5% 5% 5% 5%;
    border-radius: 20px;
    width: 300px;
    height: auto;
    margin-top: 20px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    }
  ::placeholder{
    font-size: 15px;
    text-align: center;
    color: black;
  }
  
  label{
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;

  }
  input{
    font-size: 20px;
    background-color: #CC1B1B;
    margin-bottom: 10px;
    border:1px solid  grey;
    
  }

  /* page index.php*/
  header{
    padding-top: 15px;
    width: 100%;
    border-bottom: 2px solid black;
  }
.logo-header{
    width: 100px;
    height: 100px;
    float: lef;
    padding: 5px;
    margin-bottom: 20px;

 }
 .info-session{
    float: right;
    text-align: center;
    border: black solid 2px;
    padding: 0 3px 7px 3px;
    border-radius: 10px;
    margin-bottom: 20px;

 }
 .info-acteur ,.presentation p{
  font-size: 25px;
 }
 .presentation{
    text-align: justify;
    margin-bottom: 50px;
    padding-bottom: 20px;
    
  
 }
 .ilustration{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .info-acteur{
     margin-top: 20px;
     
 }

.acteur1,.acteur2,.acteur3,.acteur4{
    text-align: center;
    border: 2px solid black;
    margin: 10px 25% 25px 25%;
    padding: 10px 0px 10px 0px;
    background: linear-gradient(rgb(150, 14, 14), rgb(161, 38, 38));
}

.logo-acteur{
    width: 150px;
    height: 100px;
   display: inline-block
}
.lien{
    border: 2px black solid;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}
.info{
    display: inline-block;
}

/* partie page acteur */
#contenu-texte{
  margin-top: 20px;
  text-align: center;
}

.logo-acteur1, .logo-acteur2, .logo-acteur3, .logo-acteur4{   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 150px;
}
#commentaires{
  background: linear-gradient(rgb(150, 14, 14), rgb(161, 38, 38));
  padding: 5px 5px 5px 5px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
#commentaires h3{
  text-align: center;
}

  
.les-commentaire, #contenu-texte  p{
  font-size: 20px;
}

.les-commentaire{
  width: 50%;
  margin: 5px 3px 3px 3px;
  padding: 5px 3px 3px 3px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background: linear-gradient(grey, white);

}
.champs{
  height:auto;
  width:auto;
}
#commentaires input{
  background-color: white;
}
  footer{ 
    padding-top:15px ;
    bottom: 0;
    text-align: center;
  }